.input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background: rgba(237, 237, 237, 0.7);
}

.input::placeholder {
  color: rgba (0, 0, 0, 0.5)
}

.input_error {
  background: rgba(219, 57, 57, 0.3);
}

.helperText {
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: #db3939;
  margin-left: 10px;
}