{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "arrowParens": "always",
  "tabWidth": 2,
  "printWidth": 100,
  "max-len": ["error", 140, 2],
  "useTabs": true
}